@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;400;500;600;700;800;900&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://64.media.tumblr.com/af1ce1709c293c2b61d72b27869d4fba/76b0ec3a348a50a8-e1/s540x810/e586545abdc31f36be89676cd648087fa8e8dca8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
	height: 100%;
}

table{
  width: auto;
  text-align: center;
  background: rgba(11, 56, 51, 0.75);
  color: white;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  top: 150px;
  margin: auto;
  text-decoration: none;
}

table, tr, td{
  font-size: 22px;
  transition-property: color, background;
  transition: 0.3s ease;
  overflow: auto;
  /*height: 55px;
  width: 450px;*/
  height: 60px;
  width: 420px;
  text-decoration: none;
}

th{
  background: rgba(121, 145, 119, 0.66);
}

td.hvr{
  background: rgba(0, 0, 0, 0.50);
  border-radius: 0px;
  color: #white;
}

td.hvr:hover{
  background: rgba(121, 145, 119, 0.66);
  color: #03190D;
  border-radius: 40px;
  cursor: pointer;
}

td.mhvr{
  background: rgba(13, 103, 135, 0.44);
  color: white;
}

.dhvr{
  background: #855e43;
}

tr:nth-child(1){
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4)
}

tr:nth-child(2){
  font-weight: 500;
  background: rgba(0, 0, 0, 0.25);
}

.back{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background: #085c80;
  width: 70px;
  height: 25px;
  text-align: center;
  border-radius: 20px;
  border-style: dotted;
	border-color: rgba(0, 0, 0, 0);
  transition-property: color, background;
  transition: 0.3s ease;
  position: fixed;
  right: 50px;
  bottom: 30px;
}

.back:hover{
  color: white;
  background: #03190D;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;\
  transition-property: color;
  transition: 0.3s ease;
}

a:hover{
  color: #03190D
}
